*{
	background-color: maroon;
	color: white;
}	

#pictures{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
}	

#pictures > img{
	width:500px;
	height:250px;
}	

.pageLink{
	font-family: "Brush Script MT", serif;
	font-size: 24pt;
}	

#restaurantName{
	color: black;
	font-family: "Brush Script MT", serif;
	font-size: 64pt;
	background-image: url("flag.gif");
	background-repeat: no-repeat;
}

#byline{
	font-family: "Brush Script MT", serif;
	font-size: 48pt;
}

#pageName{
	font-family: "Brush Script MT", serif;
	font-size: 36pt;
}

#hours{
	font-family: "Brush Script MT", serif;
	font-size: 24pt;
}	

#aboutParagraph{
	font-size: 24pt;
	
}	

.italian{
	font-style: italic;
	font-size: 115%
}

.menu{
	font-size: 20pt;
}	

#musicPrompt{
	font-style: italic;
	font-size: 115%
}

#navMenu{
	position: fixed;
	top: 0;
}	